<div class="row">
    <div class="jumbotron">
        <h1 class="text-center">The Virtual Pantry</h1>
        <p>An online recipe database containing over 300,000 recipes. Create your own virtual pantry to find recipes that you can make at this very moment.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <form class="form-horizontal">
            <fieldset>
                <legend>Login</legend>
                <p class="text-danger" data-ng-hide="message ===''">Invalid username or password</p>
                <div class="form-group">
                    <div class="col-lg-12">
                        <input type="text" class="form-control" id="inputUser" placeholder="Username" data-ng-model="loginData.userName">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password" data-ng-model="loginData.password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10">
                        <button type="submit" class="btn btn-primary" data-ng-click="login()">Submit</button>
                        <span class="help-block">If you do not already have an account, one will be created for you.</span>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <div class="col-lg-6">
        <form class="form-horizontal">
            <fieldset>
                <legend>Social Login</legend>
                <a class="btn btn-block btn-social btn-google">
                    <i class="fa fa-google"></i> Sign in with Google
                </a>
            </fieldset>
        </form>
    </div>
</div>