<div class="row">

    <div class="col-lg-6 ui-widget" data-ng-controller="ingredientController">
        <h4>Add Ingredients</h4>
        <input type="text" id="ingredientList" class="form-control" placeholder="Search Ingredients" />
    </div>

    <div class="col-lg-6" data-ng-controller="pantryController">
        <h4>Your Pantry</h4>
        <ul class="list-group">
            <li class="list-group-item" data-ng-repeat="ingredient in pantry">
                <span class="badge"><i class="fa fa-times"></i></span>
                {{ingredient}}
            </li>
        </ul>
    </div>

</div>
